button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#button {
    width: 100%;
    padding: 10px;
    border-radius: var(--main-border-radius);
    color: var(--third-text-color);
}

.default {
    background-color: var(--main-color);
    transition: background-color 0.2s ease-out;
    box-shadow: var(--main-shadow);


    &:hover {
        background-color: var(--secondary-color);
        transition: background-color 0.2s ease-out;
    }
}

.secondary {
    background-color: var(--secondary-color-2);
    transition: background-color 0.2s ease-out;
    color: rgb(187, 187, 187);
    box-shadow: var(--main-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.041) solid;

    &:hover {
        background-color: var(--secondary-color-2);
        transition: background-color 0.2s ease-out;
    }
}

.transparent {

    .icon {
        color: black;

        &:hover {
            color: var(--main-color);

        }
    }

}

.danger {

    background-color: var(--danger-notif);

    .icon {
        color: white;

        &:hover {
            color: var(--main-color);

        }
    }

}