:root {

  --main-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --secondary-shadow: rgba(45, 45, 46, 0.377) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --main-border: 1px rgba(184, 184, 184, 0.336) solid;
  --secondary-border: 1px rgba(92, 92, 92, 0.336) solid;
  --third-border: 1px rgba(63, 63, 63, 0.521) solid;

  --main-border-radius: 10px;
  --secondary-border-radius: 3px 3px 3px 3px;
  --third-border-radius: 15px;

  --main-color: #e94f37;
  --secondary-color: #EFEFEF;
  --third-color: rgb(199, 199, 199);
  --fourth-color: rgb(92, 92, 92);

  --white: white;

  --default-notif: rgb(126, 126, 126);
  --success-notif: rgb(0, 160, 13);
  --warning-notif: rgb(255, 123, 0);
  --danger-notif: rgb(211, 33, 33);


  --main-text-color: rgba(37, 37, 37, 0.863);
  --secondary-text-color: rgba(59, 59, 59, 0.863);
  --third-text-color: rgb(253, 253, 253);

  --main-transition: 0.2s ease-out;

}