#end {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;

    .title {
        .edit {
            border: none;
            background: transparent;
            width: 100%;
        }

        margin-bottom: 10px;
    }

    .opentext {
        margin-bottom: 10px;
        max-width: 630px;
        min-width: 300px;
        max-height: 400px;
        min-height: 100px;

        text-align: center;

    }

}