#profile-page {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    #profile-form {
        max-width: 500px;
        min-width: 300px;

        background-color: var(--white);
        border-radius: var(--third-border-radius);
        box-shadow: var(--main-shadow);

        padding: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-group {
            display: flex;
            flex-direction: column;

            span {
                color: var(--fourth-color);
                padding-bottom: 5px;
            }
        }

    }
}