#reco{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    justify-content: center;

    .digits{
        display: flex;
        margin-bottom: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .title{
        .edit{
            border: none;
            background: transparent;
            width: 100%;
        }

        margin-bottom: 10px;
    }


}

.reco_item{
    padding:10px;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    cursor:pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-1);
    color:var(--main-color-3);


    &:hover{
        background-color: var(--secondary-color-1);

    }


}

.selected{
    background-color: var(--main-color-3);
    color: var(--main-text-color-1);

    &:hover{
        background-color: var(--main-color-3);
        color: var(--main-text-color-1);
    }
}