#satis {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    justify-content: center;

    .digits {
        display: flex;
        margin-bottom: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .title {
        .edit {
            border: none;
            background: transparent;
        }

        margin-bottom: 10px;
    }





    .satis_item {
        padding: 10px;
        margin: 5px;
        border: var(--main-border);
        border-radius: var(--main-border-radius);
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);


        &:hover {
            background-color: var(--secondary-color);

        }


    }

    .selected {
        background-color: var(--main-color);
        color: var(--white);

        &:hover {
            background-color: var(--main-color);
            color: var(--main-text-color);
        }
    }

}