#survey-list-page {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;


    .content {
        width: 100%;
        padding: 30px;
        display: flex;

    }

    #survey-list {
        width: 100%;
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        overflow: auto;

        .top-actions {
            width: auto;
            margin-left: 20px;
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: 2px var(--third-color) solid;

            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                justify-content: center;
                align-items: center;

                padding-left: 10px;
                padding-right: 10px;

                .action {
                    padding-left: 10px;
                }
            }



        }

        .items {
            width: 100%;
            display: flex;
            justify-content: row;
            flex-wrap: wrap;
        }


    }
}