#surveyEdit {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    #leftPanel {
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: var(--white);
        width: 300px;
        min-width: 200px;
        max-width: 300px;

        padding: 10px;

        box-shadow: var(--main-shadow);


        .body {
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            overflow: auto;


            .leftPanelQuestionItem {
                background-color: var(--fourth-color);
                border-radius: var(--main-border-radius);
                color: var(--third-text-color);
                padding: 5px;
                margin: 5px;
                cursor: pointer;
                transition: 0.3s;

                background-color: var(--secondary-color);
                color: var(--main-text-color);

                .position {
                    font-size: 20px;
                }

                .name {
                    margin-left: 10px;
                }

                &:hover {

                    background-color: var(--fourth-color);
                    color: var(--third-text-color);
                }


            }

            .selectioned {

                background-color: var(--fourth-color);
                color: var(--third-text-color);
            }
        }

        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: var(--secondary-color);
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: var(--main-color);
            border-radius: 10px;
        }

    }


    #rightPanel {
        margin-top: 10px;

        width: 500px;

        box-shadow: var(--main-shadow);
        background-color: var(--white);
        padding: 10px;


        .question-setting {
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .body {

                .category {
                    margin-top: 10px;
                    font-weight: 600;
                }

                .items-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    margin-top: 5px;
                }
            }

            .footer {
                display: flex;
                width: 100%;
                justify-content: space-around;

            }
        }

        .survey-setting {

            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .body {
                display: flex;
                flex-direction: column;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    margin: 5px;
                }

                .style {
                    border: var(--main-border);
                    border-radius: var(--main-border-radius);
                }
            }

            .footer {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;

                .delete {
                    color: red
                }

            }
        }

    }


    #surveyZone {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;




    }

}