#item {
    cursor: pointer;
    border-radius: var(--main-border-radius);
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

    width: auto;
    box-shadow: var(--main-shadow);

    &:hover {

        outline: var(--main-border);
        box-shadow: var(--secondary-shadow);

    }

    .name {
        margin-bottom: 5px
    }

    .actions {
        display: flex;
        margin-top: 30px;

        .action {
            border-radius: var(--main-border-radius);
            margin-right: 10px;
            padding: 3px;

            &:hover {
                background-color: var(--main-color);
                color: var(--white);
            }
        }

    }

    .header {

        display: flex;
        justify-content: space-between;

        .language {
            width: 15px;

            .flag {
                border-radius: 3px;
            }
        }
    }

    .body {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;

        .icon {
            font-size: 13px;
            color: var(--main-color);
            margin-right: 5px;
        }

        span {
            font-size: 13px;
            display: flex;
            justify-content: start;
            margin-top: 2px;

            border-radius: var(--main-border-radius);
            padding: 4px;

        }

    }


}

.survey {
    background-color: var(--white);
}