#surveyView {
    display: flex;


    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;


    .back {

        position: absolute;
        top: 50px;
        left: 50px;

        cursor: pointer
    }

    #surveyZone {
        display: flex;
        justify-content: center;
    }

}